<div id="login">
  <div id="login_header">
    <h2><%= t(".header") %></h2>
  </div>
  <div id="login_content">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>

        <p>
          <%= f.label :password %>
          <%= f.password_field :password, :autocomplete => "off" %>
          <%= error_for_field(f, :password) %>
        </p>

        <p>
          <%= f.label t('.password_confirmation') %>
          <%= f.password_field :password_confirmation, :autocomplete => "off" %>
        </p>

        <p>
          <%= image_tag("spinner.gif", :class => "spinner") %>
          <%= f.submit t('.submit') %>
        </p>
    <% end %>
  </div>
</div>