<%= form_for @contact, :html => { :multipart => true, :id => dom_id(@contact, :avatar_edit), :style => "display: none", :class => "avatar_edit" } do |f| %>
  <div class="attributes">
    <div class="attribute highlight">
      <div class="label">
        <%= image_tag @contact.small_avatar %>
      </div>
      <div class="field">
        <%= t(".change", :name => @contact.name) %>
        <%- if @contact.photo.exists? -%>
          <br/>
          <%= link_to t(".delete"), contact_url(@contact, :contact => {:delete_photo => 1}), :method => :put %>
        <%- end -%>
      </div>
      <br style="clear: both;"/>
    </div>
    <div class="attribute highlight">
      <div class="label">
        <%= t(".select") %>
      </div>
      <div class="field">
        <%= f.file_field :photo %>
      </div>
    </div>
    <div class="actions">
      <%= spinner_submit(f) %>
      <%= t("common.or") %>
      <%= link_to t("common.cancel"), '#', :class => 'cancel' %>
    </div>
  </div>
<%- end -%>